- title "#{@article.title}"
- keywords "#{@article.keywords}"
- head_desc "#{@article.description}"

%section.container
  .row
    .col-md-2.hidden-sm.hidden-xs
      .affix{style: "word-wrap: break-word; width: 160px"}
        %div{style:"border:1px solid #e5e5e5;padding:5px;background-color:#f7f7f7"}
          %p
            %a{href: "/article/"} 羽毛球技巧
          - @articles.each do |article|
            %p.small
              %a{href: "/article/#{article.id}/"} #{article.title}
          %p
            %a{href: "//shang.qq.com/wpa/qunwpa?idkey=2108047919597f47df6d3528e723ddd19917a44de1d75cbbac17ff8ffa059330", target: "_blank", rel: "nofollow", title: "羽毛球新手交流群"} 
              %img{src: "//pub.idqqimg.com/wpa/images/group.png", style: "border:0"}

    %article.col-md-8.col-sm-12
      - @contents.each do |content|
        - if content["type"] == 11
          %h1.page-header #{content["h1_content"]}
          %p.small #{@article.description}
          = render partial: "layouts/google_ad"
        - elsif content["type"] == 12
          %h2.page-header #{content["h2_content"]}
        - elsif content["type"] == 2
          %p.desc #{content["text_content"]}
        - elsif content["type"] == 1
          .row{style: "margin-bottom: 15px"}
            .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
              - if @is_robot
                %img.img-responsive.center-block{src: "http://www.vxixi.com/proxy/#{URI.encode(content["image_url"].gsub('http://',''))}", alt: "#{content['image_desc']}", style: "width: 100%"}
              - else
                %img.img-responsive.center-block.lazy{data: {original: "http://www.vxixi.com/proxy/#{URI.encode(content["image_url"].gsub('http://',''))}"}, alt: "#{content['image_desc']}", style: "width: 100%", src: ""}
              - unless content['image_desc'].empty?
                %br
                %p.small.text-center 
                  %span.glyphicon.glyphicon-minus
                  #{content['image_desc']}
      .page-header
      %p.desc
        - if @pre
          %a{href: "/article/#{@pre.id}/"} 上一篇：#{@pre.title}
          %br
        - if @next
          %a{href: "/article/#{@next.id}/"} 下一篇：#{@next.title}

      #toTop ^
      .page-header
      #SOHUCS
      %script{id: "changyan_mobile_js", type: "text/javascript", charset: "utf-8"}
      .page-header

    %aside
      = render partial: "layouts/ad_right" 
