- title "#{@article.title}"
- keywords "#{@article.keywords}"
- head_desc "#{@article.description}"

%section.container
  .row
    .col-md-2.hidden-sm.hidden-xs
      .affix{style: "word-wrap: break-word; width: 160px"}
        %div{style:"border:1px solid #e5e5e5;padding:5px;background-color:#f7f7f7"}
          %p
            %a{href: "/article/"} 羽毛球技巧
          - @articles.each do |article|
            %p.small
              %a{href: "/article/#{article.id}/"} #{article.title}

          #bt_logo
            %a{href: "http://www.ibantang.com", title: "发现值得买", target: "_blank"}
              %img.center-block{style: "width: 150px;padding-top:5px", src: "http://www.vxixi.com/bt_logo.jpg", alt:"半糖"}
    %article.col-md-8.col-sm-12
      - @contents.each do |content|
        - if content["type"] == 11
          %h1.page-header #{content["h1_content"]}
          %p.small #{@article.description}
        - elsif content["type"] == 12
          %h2.page-header #{content["h2_content"]}
        - elsif content["type"] == 2
          %p.desc #{content["text_content"]}
        - elsif content["type"] == 1
          .row{style: "margin-bottom: 15px"}
            .col-md-8.col-md-offset-2.col-sm-12.col-xs-12
              - if @is_robot
                %img.img-responsive.center-block{src: "http://www.vxixi.com/proxy/#{URI.encode(content["image_url"].gsub('http://',''))}", alt: "#{content['image_desc']}", style: "width: 100%"}
              - else
                %img.img-responsive.center-block.lazy{data: {original: "http://www.vxixi.com/proxy/#{URI.encode(content["image_url"].gsub('http://',''))}"}, alt: "#{content['image_desc']}", style: "width: 100%", src: ""}
              - unless content['image_desc'].empty?
                %br
                %p.small.text-center 
                  %span.glyphicon.glyphicon-minus
                  #{content['image_desc']}
      #toTop ^
      .page-header
      #SOHUCS
      %script{id: "changyan_mobile_js", type: "text/javascript", charset: "utf-8"}
      .page-header

    %aside
      = render partial: "layouts/ad_right" 
