- title '羽毛球比赛规则'
- keywords '羽毛球比赛规则,羽毛球规则,羽球规则,羽毛球,最新羽毛球比赛规则,羽毛球竞赛规则,羽毛球拍的选择,羽毛球视频,羽毛球场地标准尺寸'
- head_desc '羽毛球比赛规则——2018年最新的羽毛球单打比赛规则、羽毛球双打比赛规则、羽毛球发球规则、羽毛球计分规则等详细图解。羽毛球运动，上手容易，竞技性强，运动量大——强身健体休闲娱乐的极佳选择。羽毛球新手交流Q群：368428528'

.container
  .row
    .col-md-3#doc-sidebar
      %ul.nav.nav-pills.nav-stacked.affix{style: "width: 200px"}
        %li
          %a{href: "#jifen"}
            计分规则
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#xiuxi"}
            换边规则
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#danda"}
            单打比赛规则
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#shuangda"}
            双打比赛规则
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#tujie"}
            双打规则图解
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#yumaoqiu"}
            羽毛球规格
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#yumaoqiupai"}
            羽毛球拍规格
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#changdi"}
            羽毛球场地标准尺寸
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#tuanti"}
            团体赛简介
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#faqiuweili"}
            发球违例
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#faqiu"}
            发球区域图解
            %span.glyphicon.glyphicon-chevron-right.pull-right
        %li
          %a{href: "#bianxian"}
            半场边线图解
            %span.glyphicon.glyphicon-chevron-right.pull-right
        #bt_logo.hide
          = render partial: "/layouts/google_ad"
    .col-md-7#guize_content
      %section#jifen
        %h1.page-header.hide 羽毛球比赛规则
        %h2.page-header 羽毛球比赛规则 计分
        %p 
          1. 21 分制，3局2胜为佳
          %br
          2. 每球得分制
          %br
          3. 每回合中，取胜的一方加 1 分
          %br
          4. 当双方均为 20 分时，领先对方 2 分的一方赢得该局比赛
          %br
          5. 当双方均为 29 分时，先取得 30 分的一方赢得该局比赛
          %br
          6. 一局比赛的获胜方在下一局率先发球
      %section#adss
        %h2.page-header 羽球特惠装备
        %p
          %a{href: "http://www.uuhaodian.com/query/%E7%BE%BD%E6%AF%9B%E7%90%83%E6%8B%8D/", target: "_blank"} 球拍
          %br
          %a{href: "http://www.uuhaodian.com/query/%E8%80%90%E6%89%93%E7%8E%8B%E7%BE%BD%E6%AF%9B%E7%90%83/", target: "_blank"} 比赛/训练用球
          %br
          %a{href: "http://www.uuhaodian.com/query/%E7%BE%BD%E6%AF%9B%E7%90%83%E9%9E%8B/", target: "_blank"} 羽毛球鞋
          %br
          %a{href: "http://www.uuhaodian.com/query/%E7%BE%BD%E6%AF%9B%E7%90%83%E6%89%8B%E8%83%B6/", target: "_blank"} 耗材
      %section#xiuxi
        %h2.page-header 赛间休息与换边规则
        %p
          1. 在一局比赛中，当领先的一方达到 11 分时，双方有 60 秒休息时间
          %br
          2. 在两局比赛间，双方有 2 分钟的休息时间
          %br
          3. 在决胜局的中，当领先的一方达到 11 分时，双方交换场地
          %br
      %section#danda
        %h2.page-header 羽毛球比赛规则 单打
        %p 
          1. 在一局比赛开始时（比分 0 ： 0）或发球方得分为偶数时，发球方在右半场进行发球。当发球方得分为奇数时，在左半场进行发球
          %br
          2. 如果发球方取得一分，那么下一回合其继续发球
          %br
          3. 如果接发球方取得一分，那么下一回合其成为发球方
      %section#shuangda
        %h2.page-header 羽毛球比赛规则 双打
        %p
          1. 与单打一样，发球方得分为偶数时，发球方在右半场进行发球。当发球方得分为奇数时，在左半场进行发球
          %br
          2. 如果发球方取得一分，那么下一回合其继续发球，且发球人不变
          %br
          3. 如果接发球方取得一分，那么下一回合其成为发球方
          %br
          4. 当且仅当发球方得分时，发球方的两位选手交换左右半场
      %section#tujie
        %h2.page-header 羽毛球双打比赛规则图解
        %p 
          下面描述一场
          %strong 
            羽毛球双打比赛
          ，A & B vs C & D，比赛开始时，由A率先发球，C接发球
        = render partial: "guize/shuangda_table"
      %section#san
        %h2.page-header 羽毛球比赛规则 三打三
        %p 谓三对三，顾名思义就是三个人对三个人，因此在发球、站位以及一些打法等方面有特别的规定和要求
        %p 发球接发球的站位等基本原则仍要遵循羽毛球的双打规则，如得分为偶数时发球一方站在右半区发球，得分为奇数时发球一方站在左半区发球
        %p 
          1. 比赛前每队确定第一、第二、第三发球队员和接发球队员，分别为A队（A1、A2、A3）、B队（B1、B2、B3）
          %br
          2. A1发球，B1则接发球
          %br
          3. B1发球，A1则接发球，以此类推
          %br
          4. A1发球得分后，换由本方A2发下一个球，即若为A方发球，则A1，A2，A3依次发球
          %br
          5. B1发球得分后，换由本方B2发下一个球，即若为B方发球，则B1，B2，B3依次发球
      %section#yumaoqiu
        %h2.page-header 羽毛球规格 Yonex训练&比赛用球
        %p
          1. 应由16根羽毛固定在球托上
          %br
          2. 每根羽毛从球托面至羽毛尖的长度，统一为62～70毫米
          %br
          3. 羽毛顶端围成圆形，直径为58～68毫米
          %br
          4. 羽毛应用线或其他适宜材料扎牢
          %br
          5. 球托底部为球形，直径为25～28毫米
          %br
          6. 球重4．74～5．50克
      %section#yumaoqiupai
        %h2.page-header 羽毛球拍规格 Yonex YY弓箭D
        %p
          1. 羽毛球拍一般由拍头、拍杆、拍柄及拍框与拍杆的接头构成
          %br
          2. 一支球拍的长度不超过68厘米
          %br
          3. 球拍柄与球拍杆长度不超过42厘米，拍框长度不超过25厘米，宽为20厘米
          %br
          4. 球拍发展方向：重量越来越轻、拍框越来越硬、拍杆弹性越来越好
      %section#changdi
        %h2.page-header 羽毛球场地标准尺寸
        %p
          1. 羽毛球场地应是一个长方形，用宽40毫米的线画出
          %br
          2. 场地线的颜色最好是白色、黄色或其他容易辨别的颜色
          %br
          3. 所有的线都是它所界定区域的组成部分
          %br
          4. 从球场地面起，网柱高1.55米
          %br
          5. 网柱必须稳固地同地面垂直，并使球网保持紧拉状态
          %br
          6. 网柱应放置在双打的边线上
          %br
          7. 羽毛球球网应由深色优质的细绳编织成，网孔为均匀分布的方形，边长15～20毫米
          %br
          8. 羽毛球球网上下宽760毫米
          %br
          9. 绳索或钢丝须有足够的长度和强度，能牢固地拉紧并与网柱顶部取平
          %br
          10.场地中央网高1.524米，双打边线处网高1.55米
          %br
          11.球网的两端必须与网柱系紧，它们之间不应有空隙
          %br
          12.长13.40米，双打宽6.10米，单打宽5.18米，双打球场对角线长=14.723米，单打球场对角线长=14.366米
        %img.img-responsive{src: "http://www.vxixi.com/images/biaozhunchangdi.png", alt: "羽毛球比赛规则 羽毛球场地标准尺寸"}
      %section#tuanti
        %h2.page-header 羽毛球团体比赛 简介
        %p 羽毛球团体比赛有男团和女团，但是团体项目不是奥运会比赛项目。比较著名的三大羽毛球团体赛是汤姆斯杯、尤伯杯和苏迪曼杯。
        %h3 汤姆斯杯羽毛球赛（thomas cup badminton）
        %p 汤姆斯杯羽毛球赛是世界上最高水平的男子羽毛球团体赛，就是世界男子羽毛球团体锦标赛， 由原国际羽联创办于1948年。每两年举办一次。
        %h3 尤伯杯（Uber cup badminton）
        %p 世界女子羽毛球团体锦标赛（尤伯杯赛）的奖杯。因由尤伯夫人捐赠而得名。又称为“世界女子羽毛球团体锦标赛”。尤伯杯赛制同汤姆斯杯赛一样。在1982年以前是每三年举行一次，比赛采用七场四胜制。自1984年开始，改为每两年举行一次，采用五场三胜制。
        %h3 苏迪曼杯（Sudirman Cup)
        %p 又称世界羽毛球混合团体锦标赛，采用五场三胜制，由男子单打、女子单打、男子双打、女子双打和混合双打五个项目组成，是代表羽毛球整体水平的最重要的世界大赛，与汤姆斯杯赛和尤伯杯赛齐名。1989年，在印度尼西亚举行了第一届苏迪曼杯赛，此项比赛每两年举行一届，逢双数年是汤姆斯杯赛和尤伯杯赛，单数年为苏迪曼杯赛。
        %h3 羽毛球团体赛规则
        %p 按照苏迪曼杯的规则是男单，女单，男双，女双，混双。顺序可一双方协议定，但是选手不能兼项，就是不能一人参加两项。每项都是三局两胜，每局21分。五场三胜制。
      %section#faqiuweili
        %h2.page-header 发球违例
        %p 
          1. 未将球发在相应的区域内
          %br
          2. 球挂在网上或停在网顶
          %br
          3. 球过网后挂在网上
          %br
          4. 双打时，接发球员的同伴接到球或被球触及
      %section#bisaiweili
        %h2.page-header 比赛进行中违例
        %p
          1. 球落在场地界线外
          %br
          2. 球从网孔或网下穿过
          %br
          3. 球未从网上方越过
          %br
          4. 球触及天花板或四周墙壁
          %br
          5. 球触及运动员的身体或衣服
          %br
          6. 球触及场地外其他物体或人
          %br
          7. 球被击时停滞在球拍上，紧接着被拖带抛出
          %br
          8. 球在一个回合中被同一方队员多次击中
          %br
          9. 运动员的球拍、身体或衣服，触及球网或球网的支撑物
          %br
          10.过网击球(击球时，球拍与球的最初接触点在击球者网这一方，而后球拍随球过网的情况除外)
      %section#faqiu
        %h2.page-header 羽毛球发球区域
        %p 单打发球有效区域为下图中的蓝色区域
        %p 双打发球有效区域为下图中的绿色区域
        %img.img-responsive{src: "http://www.vxixi.com/images/faqiu.png", alt: "羽毛球比赛规则 发球有效区域"}
      %section#bianxian
        %h2.page-header 羽毛球半场边线
        %p 单打时，半场边线有效范围是下图中的蓝色区域
        %p 双打时，半场边线有效范围是下图中的绿色区域
        %img.img-responsive{src: "http://www.vxixi.com/images/youxiao.png", alt: "羽毛球比赛规则 半场边线范围"}
      %section#dingyi
        %h2.page-header 羽毛球比赛规则 定义
        %p
          1. 运动员：参加羽毛球比赛的人
          %br
          2. 一场比赛：双方各一名或两名运动员是决定胜负的最基本的单位
          %br
          3. 单打：双方各一名运动员进行的一场比赛
          %br
          4. 双打：双方各两名运动员进行的一场比赛
          %br
          5. 发球方：有发球权的一方
          %br
          6. 接发球方：发球的对方
      %section#dingyi1
        %h2.page-header 羽毛球拍的磅数与操控感
        %p 羽毛球拍磅数是指羽线张力（1磅 = 453.6克，20磅等于为9公斤），羽毛球拍想要承受更高的重量，材料就要求更好、做工要求更精细，当然成本也就更高，价格更贵。
        %p 
          1. 磅数低的羽毛球拍弹性较大，在后场发力与借力防守会比较轻松，但是羽毛球飞行线路和落点，以及网前小球难以控制。
          %br
          2. 磅数高的羽毛球拍拍面较硬，可以精准的控制羽毛球飞行线路和落点，进攻速度快，网前小球控制更容易，但是对羽毛球拍的使用者有着更高的技术要求，特别是手腕的力量。
          %br
          3. 随着自身羽毛球技术的提升，可以考虑更换更优质的羽毛球拍，并为羽毛球拍拉更高磅数的拍线。
        %h2.page-header 羽毛球拍线的选择
        %p
          1. YONEX BG65 
          %br
          高档拍线中最耐用的一款，弹性足，价格又够便宜，身边的小伙伴用的最多的一款拍线了，价格50元/根左右。
          %br
          2. YONEX BG95 
          %br
          相当于BG65的升级版本，看产品描述工艺更厉害的样子，弹性更好，击球速度更快，当然要更贵，价格在70元/根左右。
          %br
          3. 大家可以选择尝试不同弹性系数的羽线，随着技术与经验的增长，总会找到一款适合自己的。
      %div#toTop ^
      .page-header
      %div#SOHUCS
      .page-header
      %div
        %p
          %small
            %a{href: "#ps",data: {toggle: "collapse"}} + ps:
        #ps.collapse.in
          %p 
            %a{href: "//shang.qq.com/wpa/qunwpa?idkey=2108047919597f47df6d3528e723ddd19917a44de1d75cbbac17ff8ffa059330", target: "_blank", rel: "nofollow", title: "羽毛球新手交流群"} 
              %img{src: "//pub.idqqimg.com/wpa/images/group.png", style: "border:0"}
            %br
            %small
              更新于2018年#{Time.now.month}月#{Time.now.day}日
              %br
              内容翻译自国际羽联2018年最新羽毛球比赛规则
              %br
              %a{href: "/shop_map/"} 淘宝店铺大全
              %br
              %a{href: "/product_map/"} 淘宝商品大全
              %br
              %a{href: "http://www.shikuaigou.com"} 十块购
              %br
              %a{href: "https://www.iquan.net"} 淘宝优惠券
              %br
              %a{href: "http://www.zhequan.cc"} 折券
              %br
              %a{href: "http://www.xiongmao123.com"} 熊猫优选
              %br
              %a{href: "http://www.sports-sh.com"} 先驱体育
              %br
              %a{href: "http://www.gouwuzhinan.cn"} 购物指南
              %br
              %a{href: "https://www.hg0088.onl"} hg0088开户 
              %br
              %a{href: "http://gggxb.net"} 新宝GG
              %br
              %a{href: "http://xb5c.com"} 新宝5
              %br
              %a{href: "http://001432.com"} 申博太阳城
              %br
              %a{href: "http://www.idy360.com/"} 365bet
              %br
              %a{href: "http://www.idy360.com/tv/region/3"} 365bet体育在线
              %br
              %a{href: "http://www.zjgxzs.cn/07257r/0616224gj7.html"} 博猫注册
              %br
              %a{href: "http://www.flowlover.com"} 网红进口零食网
              %br
              %a{href: "http://521530.com"} 国际足球新闻
              %br
              %a{href: "http://www.auromed.com/"} 出国看病
              %br
              %a{href: "https://www.sandscotaicentral.cn"} 澳门金沙城酒店预订
              %br
              %a{href: "http://www.beer8.cn/list-27-1.html"} 抖音刷评论
              %br
              %a{href: "http://dl.pconline.com.cn/download/1368796.html"} 彩神北京赛车PK10
              %br
              %a{href: "http://www.qtx.com/"} 足球即时比分
              %br
              %a{href: "https://wbmanbetx.com"} 万博
              %br
              %a{href: "http://www.jnd28fx.com/"} 加拿大28分析
              %br
              %a{href: "http://www.55guanjun.com/"} 微信投票


    = render partial: "layouts/related_right"
